services:
  postgres:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
      POSTGRES_DB: user_management
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user -d user_management"]
      interval: 5s
      timeout: 5s
      retries: 10

  nats:
    image: nats:2.11-alpine
    restart: unless-stopped
    ports:
      - "4222:4222"
